@model Product

<h1 class="pb-4">Create </h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" id="collectionName">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" rows="3" spellcheck="true"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" id="Price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ProductSizeId" class="form-label"></label>
        <select asp-for="ProductSizeId" asp-items="ViewBag.SizeList" class="form-select" id="ProductSizeId">
            <option Disabled selected>--Select Size--</option>
        </select>
        <span asp-validation-for="ProductSizeId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ProductColorId" class="form-label"></label>
        <select asp-for="ProductColorId" asp-items="ViewBag.ColorList" class="form-select" id="ProductColorId">
            <option Disabled selected>--Select Color--</option>
        </select>
        <span asp-validation-for="ProductColorId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CollectionId" class="form-label"></label>
        <select asp-for="CollectionId" asp-items="ViewBag.CollectionList" class="form-select" id="CollectionId">
            <option Disabled selected>--Select Collection--</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select" id="CategoryId">
            <option Disabled selected>--Select Category--</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DisplayOrder" class="form-label"></label>
        <input asp-for="DisplayOrder" class="form-control" id="displayOrder">
        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ImageUrl" class="form-label"></label>
        <input asp-for="ImageUrl" type="file" class="form-control" id="ImageUrl">
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input asp-for="IsAvailable" class="form-check-input" id="IsAvailable">
        <label asp-for="IsAvailable" class="form-check-label"></label>
        <span asp-validation-for="IsAvailable" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-controller="Product" asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}