<footer class="border-top footer text-muted fixed-bottom py-4">
    <div class="container">
        &copy; 2024 - TayoWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>