@model List<Category>

<h1 class="text-center my-5">Categories List</h1>
<table class="table table-hover">
    <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Display Order</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
         {
            <tr>
                <th scope="row">1</th>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                <td class="d-flex flex-column flex-sm-row justify-content-center gap-2">
                    <button class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i> Edit</button>
                    <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Delete</button>
                </td>
            </tr>
         }
    </tbody>
</table>

