@model List<Category>

<div class="d-flex justify-content-between p-2">
    <h1>Categories List</h1>
    <a type="button" asp-controller="Category" asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i>
        CREATE NEW CATEGORY
    </a>
</div>
<table class="table table-hover">   
    <thead class="table-light">
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Display Order</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
         {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                <td class="d-flex flex-column flex-sm-row justify-content-center gap-2">
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i> Edit</a>
                    <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Delete</button>
                </td>
            </tr>
         }
    </tbody>
</table>

